.day-title {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.71rem;
    line-height: 100%;
    color: #5a5555;
    margin: 0 0 15px 10px
}

.lesson-item {
    width: 341px;
    height: 87px;
    left: 101px;
    top: 297px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    background: #fff;
    box-shadow: 0 4px 67px rgba(0, 0, 0, .2);
    border-radius: 8px
}

.lesson-right {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.lesson-time {
    font-weight: 400
}

.lesson-header,
.lesson-time {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-size: 1rem;
    line-height: 100%;
    color: #000
}

.lesson-header {
    font-weight: 500
}

.lesson-paragraph {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: .85rem;
    line-height: 100%;
    color: #5a5555
}

.lessons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.days-wrapper {
    margin-top: 100px;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 30px
}

@media (max-width:1400px) {
    .days-wrapper {
        justify-content: center;
        align-items: center
    }
}

@media (max-width:400px) {
    .lesson-item {
        width: 100%;
        gap: 15px
    }
}